@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Open+Sans:wght@300;500;600&display=swap');
@import 'scss/_reset.scss';
@import 'scss/_variables.scss';
@import 'scss/_navbar.scss';
@import 'scss/_homeThreeColumns.scss';
@import 'scss/_about.scss';
@import 'scss/_aboutUs.scss';
@import 'scss/_foundationsAndOrganizations.scss';
@import 'scss/_home.scss';
@import 'scss/_contact.scss';
@import 'scss/_singin.scss';



.App {
  background-color: $color-primary;
  height: 100%;
  width: 100vw;
  font-family: $font-base;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
