.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100rem;

  .home-img {
    display: flex;
    overflow: hidden;
    width: 55%;
    .image {
      margin-left: -30rem;
      height: 100%;
      object-fit: cover;
    }
  }
  .home-main {
    display: flex;
    flex-direction: column;
    height: 980px;
    width: 45%;
    .main-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 716px;
      align-items: center;
      line-height: 55px;
      h1 {
        font-size: 38px;
        padding-top: 342px;
        text-align: center;
      }
      .decoration-img {
        display: flex;
        margin-top: 40px;
        img {
          width: 253px;
        }
      }
      .main-buttons {
        display: flex;
        justify-content: space-around;
        text-align: center;
        .main-button {
          display: flex;
          width: 40%;
          margin-top: 100px;
          font-size: 36px;
          line-height: 45px;
          padding-top: 13px;
          text-align: center;
        }
        //.main-button:last-child {
        //  margin-left: 20px;
        //}
      }
    }
  }
}