.nav-section {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  width: 100rem;
  .navbar {
    height: 24px;
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
    width:100%;
    cursor: pointer;
    .navbar-items {
      display: flex;
      list-style: none;
      text-align: center;
      justify-content: flex-end;
      .navbar-item {
        display: flex;
        align-items: center;
        position: relative;
        border: none;
        margin-left: 20px;
        .navbar-link {
          text-decoration: none;
          color: $color-shadow;
          font-size: 18px;
          font-weight: 300;
          padding: 9px 20px 9px;
        }
      }
      .navbar-item:hover {
        border: 1px solid $color-dark;
        .navbar-link:hover {
          color: black;
        }
      }
      .active-item {
        border: 1px solid $color-dark;
        .active-link {
          color: black;
        }
      }
    }
  }

  .navlink-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    .navlink-button {
      border: 1px solid transparent;
      opacity: 1;
      margin-top: 66px;
      font-size: 16px;
      color: $color-shadow;
      padding: 10px;
      list-style: none;
      text-align: center;
      text-decoration: none;
      &:first-of-type {
        margin-right: 20px;
      }
    }
    .navlink-button:hover {
      border: 1px solid $color-yellow;
      .navbar-link:hover {
        color: black;
      }
    }
    .clicked-button {
      border: 1px solid $color-yellow;
    }
  }
}
//*{
//  outline: 1px solid red;
//}